# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Build folders
dist/
build/

# Environment files
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
venv310/

# Packages (offline wheels)
packages/

# Env
.env
4e37eb8 (Added remaining files)
# Ignore datasets
data/
*.zip

# Ignore models (optional if large)
backend/models/

# Ignore virtual env
backend/venv310/
